/*Gets rid of tiny increment buttons on number inputs*/
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

/*Same thing as "light" class*/
h1, h2, h3, h4, h5, h6 {
  font-weight: 300;
}

/*PAGINATION*/

.pag__button--text {
  font-size: 1rem;
}

#pag__title--current {
  margin: 0;
}

ul.pagination {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.pag__button:first-child {
  margin-left: -1em;
}
.pag__button:last-child {
  margin-right: -1em;
}

li.pag__space {
  width: 100px;
  height: 33px;
}
