/* Coolors Exported Palette - coolors.co/00bfa5-26a69a-849483-dae4e5-ffffff */

$color1: #00bfa5; //rgba(0, 191, 165, 100)
$color2: #26a69a; //rgba(38, 166, 154, 100)
$color4: #dae4e5; //rgba(218, 228, 229, 100)
$color5: #ffffff; //rgba(255, 255, 255, 100)
