<link rel="stylesheet" href="../../styles/oAuth.css">

<div class="row" id="oAuth" ng-cloak>
  <div class="col s12">

    <!-- Header -->
    <header>
      <h5>Set Up A Bill</h5>
      <div class="divider"></div>
    </header>

    <!-- Login with Venmo -->
    <div class="form">
      <br>
      <h5>Login with Venmo</h5>
      <p>Enable others to pay you their share of the bill.</p>
      <div class="button--venmoOAuth">
        <a href="/auth/venmo">Login in with <img src="../../assets/venmo_logo_white.png" alt="Venmo" width="55px" class="venmoEnabled"></a>
      </div>
      <br>
      <br>
    </div>

    <!-- No login form -->
    <div class="divider"></div>
    <div class="form">
      <br>
      <h5>Proceed without logging in</h5>
      <input type="text" placeholder="Enter your name here" required ng-model="username" name="username" class="enterName" id="name">
      <br>
      <div class="button--createBill">
        <button type="submit" ng-disabled="userInput.username.$error.required" ng-click="oAuth.setSessionUser(username, true, null)" class="btn createBill" ng-disabled="userInput.username.$error.required">Create Bill</button>
      </div>
      <br>
    </div>

  </div>
</div>
