header {
    margin: 0 0.3rem;
}

.sharedBy {
    padding-right: 1em;

    font-size: 0.85em;
    line-height: inherit;
}

.button {
    position: absolute;
    top: 0;
    right: 0;
    border-radius: 0.8rem;
    height: 100%;
}

ul.collection {
    border-radius: 0.8rem;
}

.button__background {
    padding: 0 0rem;
    /*padding-bottom: 8rem;*/
    height: 100%;
    border-top-right-radius: 0.8rem;
    border-bottom-right-radius: 0.8rem;
}

.button--edit {
    padding-top: 1.5rem;
    padding-right: 0.5rem;
    padding-bottom: 1.5rem;
    padding-left: 0.5rem;

    font-size: 2.5rem;
}

.button--addDish {
    position: fixed;
    right: 1rem;
    bottom: 1rem;
}

.modal {
    border-radius: 0.4em;
}

.modal__box {
    padding: 1em 1em 0.2em 1em;
}

.modal__title {
    margin-top: 0.3em;
    margin-bottom: -0.1em;

    text-align: center;
}

.modal__input--dish.input-field.col.s8 {
    padding-right: 0.2em;
    padding-bottom: 0.3em;
    padding-left: 0.5em;
    margin-top: 0.5em;
}

.modal__input--cost.input-field.col.s4 {
    padding-right: 0.5em;
    padding-bottom: 0.3em;
    padding-left: 0.2em;
    margin-top: 0.5em;
}

.modal--costInfo {
    margin: 0 0.3rem;
}

.modal__div--success {
    margin: 0.6em 0 0.4em;

    border-radius: 0.5em;
}

.modal__text--success {
    padding: 0.5em 0.8em;
    margin: 0;

    text-decoration: bold;
}

.modal-footer {
    padding-right: 1em;
}

#modal-footer {
    padding-right: 1em;
    margin-bottom: 0.1em;
}

/*@keyframes fadeOut {
    from {
        opacity: 1;
    }

    to {
        opacity: 0;
    }
}

.fadeOut {
    -webkit-animation-name: fadeOut;
            animation-name: fadeOut;
    -webkit-animation-duration: 2s;
            animation-duration: 2s;

    -webkit-animation-fill-mode: both;
            animation-fill-mode: both;
}*/
