.dish__item:last-child {
    margin-bottom: 2rem;
}

.receipt__item--number {
    float: right;

    font-size: 1.3rem;
}

.receipt__title,
.dish__title {
    margin: 0.3rem 0;

    font-size: 1.3rem;
}

.dish__item {
    border-radius: 0.7rem;
}

.button--payButton {
    width: 8.5rem;
    padding: 8px 18px;

    font-size: 18px;
    font-weight: bold;

    color: white;
    border: 0;
    border-radius: 3px;
}

.venmoEnabled {
    background-color: #3d95ce;
}

.cashEnabled {
    background-color: #79c86c;
}

.receipt__item {
    border-radius: 0.7rem;
}

.receipt__subtitle,
.dish__item--shared {
    font-size: 0.85rem;
}

.receipt__tiptax {
    text-align: center;
}

h5.receipt__tiptax {
    margin-top: 0;
}

.alert__notify {
    padding: 1rem;
    margin: 0 0.3rem;

    color: #3c763d;
    border-radius: 1rem;
    background-color: #dff0d8;
}

.button__div--payment {
    display: flex;
    margin-top: 0.8rem;

    justify-content: space-around;
}
