.payButton {
  border-radius: 3px;
  border: 0;
  padding: 8px 18px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  width: 95px;
}

.venmoEnabled {
  background-color: #3D95CE;
}

.cashEnabled {
  background-color: #79C86C;
}


.dish__item:last-child{
	margin-bottom: 2rem;
}

.receipt__item--number {
	float: right;
	font-size: small;
}

.dish__item {
	border-radius: 0.7rem;
}

.receipt__item {
	border-radius: 0.7rem;
}

.receipt__subtitle {
	font-size: 0.8rem;
}
