#allDishes {
  margin: 0 0.3rem;
}

.enterRoom {
    float: right;
}

.roomInfo {
	display: block;
  text-align: center;
}

.roomInfo__chips {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.animated {
  -webkit-animation-duration: 3s;
  animation-duration: 3s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

.infinite {
  -webkit-animation-iteration-count: 1;
  animation-iteration-count: 1;
}


@-webkit-keyframes fadeInUp {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(0, 50%, 0);
    transform: translate3d(0, 50%, 0);
  }

  40% {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}

@keyframes fadeInUp {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(0, 50%, 0);
    transform: translate3d(0, 50%, 0);
  }

  40% {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}

.fadeInUp {
  -webkit-animation-name: fadeInUp;
  animation-name: fadeInUp;
  /*animation-timing-function: cubic-bezier(.10, .75, .2, 1.01);*/
  /*animation-timing-function: cubic-bezier(1.14, .75, .2, 1.01);*/
}


.form {
	margin-top: 0.5rem;
}

.chip__icon {
	display: inline-block;
	border: 1px solid #80CBC4;
	border-radius: 50%;
	width: 34px;
	height: 34px;
	margin-left: -1rem;
	background-color: #80CBC4;
}
.chip__letter {
	text-align: center;
	margin: 0;
	font-weight: bolder;
	font-size: 1.3rem;
}

.chip--animated {
	/*float: left;*/
	display: inline-block;
	padding-right: 1rem;
	padding-bottom: 1rem;
}

.chip--animated:nth-of-type(2) {
	-webkit-animation-delay: 0.5s;
	animation-delay: 0.5s;
}

.chip--animated:nth-of-type(3) {
	-webkit-animation-delay: 1s;
	animation-delay: 1s;
}

.chip--animated:nth-of-type(4) {
	-webkit-animation-delay: 1.5s;
	animation-delay: 1.5s;
}

.chip--animated:nth-of-type(5) {
	-webkit-animation-delay: 2s;
	animation-delay: 2s;
}

.chip--animated:nth-of-type(6) {
	-webkit-animation-delay: 2.5s;
	animation-delay: 2.5s;
}

.chip {
	margin-top: 1rem;
}

.animated-infinite {
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
}

