<link rel="stylesheet" href="../../styles/loading.css">

<div class="row" id="allDishes" ng-cloak>
  <div class="col s12">



    <header>
      <h5>Enter</h5>
      <div class="divider"></div>
    </header>


    <div class="form">
      <br>
      <h6>Join by entering your name:</h6>
      <input type="text" placeholder="Name" ng-model="username" name="username" class="enterName" required autofocus id="name" required>
      <br>

      <button ng-show="!loading.isSent" type="submit" name="username" ng-disabled="userInput.username.$error.required" value="Enter room" class="enterRoom btn" ng-click="loading.setSessionUser(username)">Enter Room</button>
      <br>
    </div>

    <br>
    <br>

    <div class="roomInfo">
      <h6>Room <strong>{{loading.code}}</strong> currently has:</h6>
      <div class="roomInfo__chips">


        <!--         <div class="animated infinite fadeInUp chip--animated">
          <div class="chip">
            <div class="chip__icon">
              <p class="chip__letter">Y</p>
            </div>
            You
          </div>
        </div> -->
        <div class="animated infinite fadeInUp chip--animated" ng-repeat="user in loading.currentUsers">
          <div class="chip">
            <div class="chip__icon">
              <p class="chip__letter">{{_.capitalize(user[0])}}</p>
            </div>
            {{_.capitalize(user)}}
          </div>

        </div>
      </div>

    </div>





  </div>
</div>
