<div id="addDish" ng-cloak>
  <h1>Add Dish</h1>
  <input type="text" placeholder="Dish Name" ng-model="addDish.dishName">

  <input type="number" ng-model="addDish.amount" aria-label="amount"> <br>

  <!-- $<input type="number" name="currencyDollars" min="0" max="9999" size="4" aria-label="amount" title="Only numbers are allowed" ng-model="dollar"/>
  . <input type="number" name="currencyCents" min="0" max="99" size="2" title="Only numbers are allowed" ng-model="cents"/> -->

 Your Current Total: <span id="currency-default">{{addDish.amount | currency}}</span><br>

  <input type="submit" ng-click="addDish.addDish(addDish.dishName, addDish.amount)">
</div>
