<div class="container-fluid" id="addDish" ng-cloak>
  <div class="row">
    <div class="col-md-12">

      <ul class="nav nav-tabs">
        <li>
        <a class="allDishes" ng-click="addDish.goToAllDishes()">All Dishes</a></li>
        <li class="active">
        <a ng-click="allDishes.goToAddDish()">Add Dish</a></li>
        <li>
        <a class="guestBill" ng-click="addDish.goToGuestBill()">Your Bill</a></li>
      </ul>

      <h3>Add Dish</h3>

      <div class="row">
        <div class="col-md-6">
          <form role="form" name="dishForm">

            <div class="form-group">
              <label for="addDish">
                Dish
              </label>
              <input name="name" type="text" placeholder="Dish Name" ng-model="addDish.dishName" class="dishName form-control">
            </div>

            <div class="form-group">
              <label for="addDish">
                Cost
              </label>
              <input name="amount" type="number" placeholder="$0.00" ng-model="addDish.amount" class="dishCost form-control" id="addDish" aria-label="amount">
            </div>

            <div class="form-group">
              <p class="help-block">
                This dish costs
                <strong><span ng-show="dishForm.amount.$pristine">
                  {{ 0 + addDish.amount | currency}}
                </span>
                <span ng-show="dishForm.amount.$dirty" id="currency-default">
                  {{ 0 + addDish.amount | currency}}
                </span></strong>
                and your total so far is
                <strong><span id="currency-default">
                  {{addDish.userTotal | currency}}
                </span></strong>.
              </p>
            </div>

            <button type="submit" class="addDish btn btn-default" ng-click="addDish.addDish(addDish.dishName, addDish.amount)">
            Submit
            </button>

          </form>


        </div>
        <div class="col-md-6">
        </div>
      </div>
    </div>
  </div>
</div>
