<div class="container-fluid" id="guestBill" ng-cloak>
  <div class="row">
    <div class="col-md-12">

      <!-- REFACTOR TO NAVBAR LATER (need to do addClass('active') onClick) -->
      <ul class="nav nav-tabs">
        <li><a class="allDishes" ui-sref="event.allDishes">All Dishes</a></li>
        <li><a ui-sref="event.addDish">Add Dish</a></li>
        <li class="active"><a class="guestBill" ui-sref="event.guestBill">Your Bill</a></li>
        <li><a class="hostBill" ng-show="guestBill.isHost" ui-sref="event.hostBill" >Final Bill</a></li>
      </ul>
      <!-- /Navbar refactor -->

      <h3>{{ _.capitalize(guestBill.username) }}'s Total Bill</h3>



      <div ng-repeat="dish in guestBill.getGuestDishes(guestBill.user_id, guestBill.data.dishes)">
        <div class="list-group-item">
          <!-- used to be h2, now h4: for selenium? -->
          <h4 class="list-group-item-heading">{{_.map(dish.name.split(" "), _.capitalize).join(" ")}}</h4>
          <p class="list-group-item-text">Your portion: <strong>{{ guestBill.getDishIndivCost(dish) | currency }}</strong></p>
          <small>Total cost: <span>{{ dish.cost | currency }}</span></small>
        </div>

        <div class="list-group-item">
          <p class="list-group-item-text" ng-if="dish.users.length !== 1">
          <small>You shared this with {{ guestBill.getOtherUsersByUsername(dish, guestBill.data.users, guestBill.user_id) }}.</small></p>
          <p class="list-group-item-text" ng-if="dish.users.length === 1">
            <span><small>Only you ate this.</small></span>
          </p>
        </div>
        <br>

      </div>

      <br>

      <!-- <a href="#" class="list-group-item active">Home</a> -->

      <div class="panel panel-default">
        <div class="panel-heading">
          <h2 class="panel-title h1">Your Subtotal
          <p class="text-right h5">{{guestBill.getGuestTotal(guestBill.data) | currency}}</p>
          </h2>
        </div>
        <!-- <div class="panel-body">{{guestBill.getGuestTotal(guestBill.data) | currency}}</div> -->
        <div class="panel-footer" ng-if="_.isEmpty(guestBill.data.billData) && !guestBill.isHost">
          <p>The host has not entered the tax and tip yet. Please wait for your bill to be finalized before proceeding with payment.</p>
          <div>
            <button type="submit" class="payButton"><img src="../../assets/venmo_logo_white.png" alt="Venmo" width="55px"></button>
            <button type="submit" class="payButton">Cash</button>
          </div>
        </div>
      </div>

      <div class="panel panel-default" ng-if="!_.isEmpty(guestBill.data.billData) && !guestBill.isHost">
        <div class="panel-body">
          <h4 class="h4">Tip</h4 class="h4">
          <p class="text-right h5">{{guestBill.getGuestTip() | currency}}</p>
        </div>
        <div class="panel-footer tipPercent">
          <small>Your host chose {{ guestBill.data.billData.tipPercent }}% for tip.</small>
        </div>
      </div>

      <div class="panel panel-default" ng-if="!_.isEmpty(guestBill.data.billData) && !guestBill.isHost">
        <div class="panel-body">
          <h4 class="h4">Tax</h4 class="h4">
          <p class="text-right h5">{{guestBill.getGuestTax() | currency}}</p>
        </div>
        <div class="panel-footer taxPercent">
          <small>You were charged {{ guestBill.data.billData.taxPercent }}% for tax.</small>
        </div>
      </div>


      <div class="panel panel-default" ng-if="!_.isEmpty(guestBill.data.billData) && !guestBill.isHost">
        <div class="panel-heading"><h2 class="panel-title">Your Total</h2>
          <p class="text-right h5">{{guestBill.getGuestGrandTotal() | currency}}</p>
        </div>
        <div class="panel-footer tipPercent">
          <small>Dinner Grand Total: {{  guestBill.data.billData.grandTotal | currency}}</small>
        </div>
      </div>

      <div class="panel panel-default" ng-if="!_.isEmpty(guestBill.data.billData) && !guestBill.isHost">
        <div class="panel-heading"><h2 class="panel-title">Pay with:</h2>
          <div>
            <br>
            <a type="submit" class="payButton venmoEnabled" ng-href="https://venmo.com/{{guestBill.venmoUsername}}?txn=pay&amount={{guestBill.getGuestGrandTotal()}}&audience=private"><img src="../../assets/venmo_logo_white.png" alt="Venmo" width="55px"></a>
            <button type="submit" class="payButton cashEnabled">Cash</button>
          </div>
        </div>

        <!--      <div class="panel panel-default">
          <div class="panel-heading">
            <h3 class="panel-title">
            Panel title
            </h3>
          </div>
          <div class="panel-body">
            Panel content
          </div>
          <div class="panel-footer">
            Panel footer
          </div>
        </div> -->


      </div>
    </div>
  </div>
</div>
