<!-- <link rel="stylesheet" href="../../styles/navbar.css"> -->

<!-- <script type="text/javascript">
//   $(document).ready(function() {
//     $(".button-collapse").sideNav();
//   });
// </script>

<!-- only see navbar if you're a loggedin host -->
<!-- add condition for loggedin -->
<!-- <nav ng-if="homeNavbar.isVenmo">
  <div class="nav-wrapper teal lighten-1">
    <ul class="right">
      <li><a class="logout" ng-click="homeNavbar.logoutVenmo()">Log Out</a></li>
    </ul>
  </div>
</nav>
 -->
