<!-- SIMPLE PLACEHOLDER FOR NAVBAR - NOT THE DONE THING -->
<nav>
  <div class="nav-wrapper teal lighten-1">
    <a href="#" class="brand-logo">Piecemeal</a>
    <ul id="nav-mobile" class="right hide-on-med-and-down">
      <li><a href="sass.html">Sass</a></li>
      <li><a href="badges.html">Components</a></li>
      <li><a href="collapsible.html">JavaScript</a></li>
      <li><a class="logout" ng-if="navbar.isLoggedIn()" ng-click="navbar.logout()">Leave room</a></li>
    </ul>
  </div>
</nav>
