<div class="container-fluid" id="allDishes" ng-cloak>
  <div class="row">
    <div class="col-md-12">


      <!-- REFACTOR TO NAVBAR LATER (need to do addClass('active') onClick) -->
      <ul class="nav nav-tabs">
        <li class="active"><a class="allDishes" ui-sref="event.allDishes">All Dishes</a></li>
        <li><a class="addDish" ui-sref="event.addDish">Add Dish</a></li>
        <li><a class="guestBill" ui-sref="event.guestBill">Your Bill</a></li>
        <li><a class="hostBill" ui-sref="event.hostBill" ng-show="allDishes.isHost" >Final Bill</a></li>
        <li><a class="logout" ng-click="allDishes.logout()">Logout</a></li>
      </ul>
      <!-- /Navbar refactor -->

      <h3>All Dishes</h3>
      <p>Hi, {{_.capitalize(allDishes.username)}}.
      The code for this bill is <strong class="code">{{ allDishes.code }}</strong>.</p>
      <p>Give this code to everyone around the table so they can join the bill from their phones and add their own dishes.</p>

      <div ng-repeat="dish in allDishes.data.dishes">
        <div class="list-group" ng-if="dish.users.length !== 0">
          <div class="list-group-item">
            <h4 class="list-group-item-heading">
            {{ _.map(dish.name.split(" "), _.capitalize).join(" ") }}
            </h4>
            <p class="list-group-item-text">
              Cost: {{dish.cost | currency }}
            </p>
            <span><small class="sharedBy">{{ allDishes.getUsersByDish(dish, allDishes.data.users) }} got this.</small></span>
          </div>
          <div class="list-group-item">
            <button ng-click="allDishes.shareDish(dish.dish_id, allDishes.user_id, dish.users)" class="share badge">Share</button>
            <button ng-click="allDishes.unshareDish(dish.dish_id, allDishes.user_id, dish.users)" class="unshare badge">Unshare</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
