<div class="container-fluid" id="home">
  <div class="row">
    <div class="col-md-12">
      <h1>
      Piecemeal <small>The easiest way to split a bill and pay with<img src="../../assets/venmo_logo_blue.svg" alt="Venmo" width="85px"></small>
      </h1>

      <div class="row">
        <div class="col-md-6">
          <form name="userInput">
            <!-- Enter Your Name -->
            <div>
              <!--Setup a bill-->
              <h4>Setup a bill to split with your friends</h4>
              <button class="createRoom btn btn-default" value="Create room"  ui-sref="oAuth">
              Create Bill
              </button>

            </div>
            <br>
          </form>

          <form name="userInput2">

            <!-- Enter a room code (as a guest) -->
            <div class="form-group">
              <h4>Or join an existing bill by entering the code</h4>
              <input name="code" type="text" class="enterCode form-control" placeholder="Enter code here" ng-model="code" id="roomCode" required>
              <br>
              <button name="submit" ng-disabled="userInput2.code.$error.required" type="submit" class="enterRoom btn btn-default" value="Enter Room" ng-click="home.setSessionUser(code)">
              Join Bill
              </button>


            </div>


          </form>
            <div ng-if="home.incorrectCode">Your entered room does not exist. Please try again.</div>
        </div>

        <br><br><br>

        <div class="col-md-6">
          <div class="jumbotron well">
            <h2>How Piecemeal works</h2>
            <p>Everyone can join the same bill from their own phones by going to piecemeal.com and entering the unique code for this bill. No login or downloading required.</p>
            <p>Add the dishes you ordered and share dishes with others. Tax and tip are divided proportionally. Everyone gets an itemized total.</p>
            <p>Once the bill is split, automatic payment requests can optionally be sent through Venmo. Plus, if you use Piecemeal frequently, you can download the app to stay logged in through Venmo.</p>
          </div>
        </div>

      </div>
    </div>
  </div>
</div>
