<div id="home" ng-cloak>
  <h1>Home page</h1>
  <p>{{home.socketmessage}}</p> <!--For testing sockets-->

  <h2>What is your name?</h2>
  <form name="userInput">
    <input type="text" placeholder="Enter Your Name" ng-model="username" name="username" required autofocus>

  </form>

  <h2>Are you a host?</h2>
  <input type="submit" value="Create room" class="createRoom" ng-click="home.setSessionUser(username, true, null)">

  <h2>Are you a guest?</h2>
  piecemeal.com/<input type="text" class="roomName" placeholder="roomName" ng-model="url">
  <input name="submit" type="submit" class="enterRoom" value="Enter Room" ng-click="home.setSessionUser(username, false, url)">

  <div ng-show="home.isError">Your entered room does not exist. Please try another.</div>


</div>
