<div class="container-fluid" id="hostBill" ng-cloak>
  <div class="row">
    <div class="col-md-12">


      <!-- REFACTOR TO NAVBAR LATER (need to do addClass('active') onClick) -->
      <ul class="nav nav-tabs">
        <li><a class="allDishes" ui-sref="event.allDishes">All Dishes</a></li>
        <li><a class="addDish" ui-sref="event.addDish">Add Dish</a></li>
        <li><a class="guestBill" ui-sref="event.guestBill">Your Bill</a></li>
        <li class="active"><a class="hostBill" ui-sref="event.hostBill">Final Bill</a></li>
      </ul>
      <!-- /Navbar refactor -->

      <h3>Your Event's Final Bill</h3>

      <div ng-repeat="dish in hostBill.data.dishes">

        <div class="list-group" ng-if="dish.users.length !== 0">
          <div class="list-group-item">
            <h4 class="list-group-item-heading">
            {{ _.map(dish.name.split(" "), _.capitalize).join(" ")}}
            </h4>

            <p class="list-group-item-text">Total Cost: <strong>{{dish.cost | currency }}</strong></p>
            <small>Each individual paid: {{ hostBill.getDishIndivCost(dish) | currency }}</small>
          </div>
          <div class="list-group-item">
            <p class="list-group-item-text">
              <span><small>{{ hostBill.getUsersByDish(dish, hostBill.data.users) }} got this.</small></span>
            </p>
          </div>
        </div>


      </div>

      <form role="form" name="billForm">

        <div class="panel panel-default">
          <div class="panel-heading">
            <h1 class="panel-title">Subtotal</h1>
            <p class="text-right h4">{{ hostBill.getSubTotal(hostBill.data.dishes) | currency}}</p>
          </div>
        </div>

        <div class="panel panel-default">
          <div class="panel-heading">
            <h1 class="panel-title">Tip</h1>
            <br>
            <div class="input-group">
              <input class="tipPercent form-control" name="tip" type="number" ng-model="hostBill.tip" placeholder="0%" min="0" aria-label="tip" required>
              <span class="input-group-addon">%</span>
            </div>
            <div class="tip">
              <p class="help-block text-right">
                Your added tip:
                <strong>
                <span ng-show="billForm.tip.$pristine">
                  {{ 0 + hostBill.tip | currency }}
                </span>
                <span ng-show="billForm.tip.$dirty" id="currency-default">
                  {{ hostBill.tip * 0.01 * hostBill.getSubTotal(hostBill.data.dishes) | currency}}
                </span>
                </strong>
              </p>
            </div>
          </div>
        </div>


        <div class="panel panel-default">
          <div class="panel-heading">
            <h1 class="panel-title">Tax</h1>
            <br>
            <div class="input-group">
              <input class="taxPercent form-control" name="tax" type="number" ng-model="hostBill.tax" placeholder="0%" min="0" max="100" aria-label="tax" required>
              <span class="input-group-addon">%</span>
            </div>
            <div class="tax">
              <p class="help-block text-right">
                Your added tax:
                <strong>
                <span ng-show="billForm.tax.$pristine">
                  {{ 0 + hostBill.tax | currency }}
                </span>
                <span ng-show="billForm.tax.$dirty" id="currency-default">
                  {{ hostBill.tax * 0.01 * hostBill.getSubTotal(hostBill.data.dishes) | currency}}
                </span>
                </strong>
              </p>
            </div>
          </div>
        </div>



        <div class="panel panel-default">
          <div class="panel-heading">
            <h1 class="h1 panel-title">Grand Total</h1>
            <p class="help-block text-right">
              <span ng-show="billForm.tip.$pristine && billForm.tip.$pristine">
                {{ hostBill.getSubTotal(hostBill.data.dishes) | currency}}
              </span>
              <span ng-show="billForm.tip.$dirty && billForm.tax.$pristine">
                {{ hostBill.getSubTotal(hostBill.data.dishes) +
                (hostBill.tip * 0.01 * hostBill.getSubTotal(hostBill.data.dishes)) | currency }}
              </span>
              <span ng-show="billForm.tip.$dirty && billForm.tax.$dirty">
                {{ hostBill.getSubTotal(hostBill.data.dishes) +
                (hostBill.tip * 0.01 * hostBill.getSubTotal(hostBill.data.dishes)) +
                (hostBill.tax * 0.01 * hostBill.getSubTotal(hostBill.data.dishes)) | currency }}
              </span>
            </p>
          </div>
        </div>

        <div>
          <!-- ng-show="billForm.tip.$dirty && billForm.tax.$dirty"  -->
          <!-- ng-show="!hostBill.billsSent && billForm.tax && billForm.tip" -->
          <button type="submit" ng-disabled="billForm.tax.$error.required || billForm.tip.$error.required" ng-click="hostBill.sendBillsToGuests()" class="sendBills btn btn-primary">Send Bills to Guests</button>
          <!-- ng-hide="hostBill.billsSent && billForm.tax.$dirty &&billForm.tip.$dirty" -->
          <!--         <button ng-show="hostBill.billsSent && hostBill.tax && hostBill.tip" class="sendBills btn btn-success" style="width:170px">Bills Sent Successfully!</button>
          -->
        </div>

        <br>
        <div class="alert alert-success alert-dismissible" role="alert" ng-show="hostBill.billsSent">
          <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          Bills sent successfully!
        </div>


      </form>
      <br>
    </div>
  </div>
</div>
