<div class="container-fluid" id="hostBill" ng-cloak>
  <div class="row">
    <div class="col-md-12">

      <!-- REFACTOR TO NAVBAR LATER (need to do addClass('active') onClick) -->
      <ul class="nav nav-tabs">
        <li><a class="allDishes" ui-sref="event.allDishes">All Dishes</a></li>
        <li><a class="addDish" ui-sref="event.addDish">Add Dish</a></li>
        <li><a class="guestBill" ui-sref="event.guestBill">Your Bill</a></li>
        <li class="active"><a class="hostBill" ui-sref="event.hostBill">Final Bill</a></li>
        <!-- <li><a class="logout" ng-click="hostBill.logout()">Logout</a></li> -->
      </ul>
      <!-- /Navbar refactor -->

      <h3>Your Event's Final Bill</h3>

      <div ng-repeat="dish in hostBill.data.dishes">

        <div class="list-group" ng-if="dish.users.length !== 0">
          <div class="list-group-item">
            <h4 class="list-group-item-heading">
            {{ _.map(dish.name.split(" "), _.capitalize).join(" ")}}
            </h4>

            <p class="list-group-item-text">Total Cost: <strong>{{dish.cost | currency }}</strong></p>
            <small>Each individual paid: {{ hostBill.getDishIndivCost(dish) | currency }}</small>
          </div>
          <div class="list-group-item">
            <p class="list-group-item-text">
              <span><small>{{ hostBill.getUsersByDish(dish, hostBill.data.users) }} got this.</small></span>
            </p>
          </div>
        </div>


      </div>

      <form role="form" name="billForm">
        <!-- SUBTOTAL -->
        <div class="panel panel-default">
          <div class="panel-heading">
            <h1 class="panel-title">Subtotal</h1>
            <p class="text-right h4">{{ hostBill.getSubTotal(hostBill.data.dishes) | currency}}</p>
          </div>
        </div>
        <!-- TIP INPUT-->
        <div class="panel panel-default">
          <div class="panel-heading">
            <h1 class="panel-title">Tip</h1>
            <br>
            <div class="input-group">
              <input class="tipPercent form-control" name="tip" type="number" step="any" ng-model="hostBill.tip" placeholder="0" min="0" aria-label="tip" required>
              <label class="active input-group-addon">
                <input type="radio" ng-model="hostBill.tipType" value="percent" /> %
              </label>
              <label class="input-group-addon">
                <input type="radio" ng-model="hostBill.tipType" value="dollar" /> $
              </label>
            </div>
            <!-- DISPLAY TIP -->
            <div class="tip">
              <p class="help-block text-right">
                Your added tip:
                <strong>
                <span ng-show="billForm.tip.$pristine">
                  {{ 0 + hostBill.repopulateTip(hostBill.data.billData) * 0.01 * hostBill.getSubTotal(hostBill.data.dishes) | currency }}
                </span>
                <span ng-show="billForm.tip.$dirty" id="currency-default">
                  {{ hostBill.getTip() | currency}}
                </span>
                </strong>
              </p>
            </div>
          </div>
        </div>

        <!-- TAX INPUT -->
        <div class="panel panel-default">
          <div class="panel-heading">
            <h1 class="panel-title">Tax</h1>

            <span class="input-group" ng>
              <input class="taxPercent form-control" name="tax" type="number" step="any" ng-model="hostBill.tax" placeholder="0" min="0" max="10000" aria-label="tax" required />
              <label class="active input-group-addon">
                <input type="radio" ng-model="hostBill.taxType" value="percent" /> %
              </label>
              <label class="input-group-addon">
                <input type="radio" ng-model="hostBill.taxType" value="dollar" /> $
              </label>
            </span>

            <!-- DISPLAY TAX -->
            <div class="tax">
              <p class="help-block text-right">
                Your added tax:
                <strong>
                <span ng-show="billForm.tax.$pristine">
                  {{ 0 + hostBill.repopulateTax(hostBill.data.billData) * 0.01 * hostBill.getSubTotal(hostBill.data.dishes) | currency }}
                </span>
                <span ng-show="billForm.tax.$dirty" id="currency-default">
                  {{ hostBill.getTax() | currency}}
                </span>
                </strong>
              </p>
            </div>
          </div>
        </div>

        <!-- FEES -->
        <div class="panel panel-default">
          <div class="panel-heading">
            <h1 class="panel-title">Add Fee</h1>
            <span class="input-group" ng>
              <input class="form-control" name="fee" type="number" step="any" ng-model="hostBill.fee" placeholder="0" min="0" aria-label="fee" />
              <label class="active input-group-addon">+ $</label>
            </span>
            <!-- DISPLAY FEE -->
            <div class="fee">
              <p class="help-block text-right">
                Fee as percent of subtotal: 
                <strong>
                  <span ng-show="billForm.fee.$pristine">
                    {{ 0 + hostBill.getFeePercent()}}%
                  </span>
                  <span ng-show="billForm.fee.$dirty" id="currency-default">
                    {{ hostBill.getFeePercent()}}%
                  </span>
                </strong>
              </p>
            </div>
          </div>
        </div>

        <!-- DISCOUNT -->
        <div class="panel panel-default">
          <div class="panel-heading">
            <h1 class="panel-title">Add Discount</h1>
            <span class="input-group" ng>
              <input class="form-control" name="discount" type="number" step="any" ng-model="hostBill.discount" placeholder="0" min="0" aria-label="discount" />
              <label class="active input-group-addon">- $</label>
            </span>
            <!-- DISPLAY DISCOUNT -->
            <div class="discount">
              <p class="help-block text-right">
                Discount as percent of subtotal: 
                <strong>
                  <span ng-show="billForm.discount.$pristine">
                    {{ 0 + hostBill.getDiscountPercent()}}%
                  </span>
                  <span ng-show="billForm.discount.$dirty" id="currency-default">
                    {{ hostBill.getDiscountPercent()}}%
                  </span>
                </strong>
              </p>
            </div>
          </div>
        </div>

        <!-- GRAND TOTAL -->
        <div class="panel panel-default">
          <div class="panel-heading">
            <h1 class="h1 panel-title">Grand Total</h1>
            <p class="help-block text-right">
              <span ng-show="billForm.tip.$pristine && billForm.tip.$pristine">
                {{ hostBill.getSubTotal(hostBill.data.dishes) 
                + (hostBill.repopulateTip(hostBill.data.billData) * 0.01 * hostBill.getSubTotal(hostBill.data.dishes)) 
                + (hostBill.repopulateTax(hostBill.data.billData) * 0.01 * hostBill.getSubTotal(hostBill.data.dishes))
                + hostBill.fee - hostBill.discount | currency}}
                <!-- CHECK FEE AND DISCOUNT FOR PERSISTANCE -->
              </span>
              <span ng-show="billForm.tip.$dirty && billForm.tax.$pristine">
                {{ hostBill.getSubTotal(hostBill.data.dishes) +
                hostBill.getTip() + hostBill.fee - hostBill.discount | currency }}
              </span>
              <span ng-show="billForm.tip.$dirty && billForm.tax.$dirty">
                {{ hostBill.getSubTotal(hostBill.data.dishes) +
                hostBill.getTip() + hostBill.getTax() + hostBill.fee - hostBill.discount | currency }}
              </span>
            </p>
          </div>
        </div>

        <div>
          <button type="submit" ng-disabled="billForm.tax.$error.required || billForm.tip.$error.required" ng-click="hostBill.sendBillsToGuests()" class="sendBills btn btn-primary">Send Bills to Guests</button>
        </div>

        <br>
        <div class="alert alert-success alert-dismissible" role="alert" ng-show="!hostBill.billsSent">
          <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          Bills sent successfully!
        </div>


      </form>
      <br>
    </div>
  </div>
</div>
