<div id="hostBill" ng-cloak>
  <button ng-click="hostBill.goToGuestBill()">See Your Individual Bill</button>
  <h1>Final Bill (For You and Your Guests)</h1>

  <div ng-repeat="dish in hostBill.allDishes">
    <h3>{{ _.capitalize(dish.name)}}</h3>
    <p>Cost: {{dish.cost | currency }}</p>
    <p><small>Individual cost: {{dish.indivCost | currency }}</small></p>
    <span>
      {{ _.map(_.pluck(dish.users, 'username'), _.capitalize).join(", ") }} got this.
    </span>
  </div>

  <br><br>

  <div>
    <form name="billForm">

      <div class="subtotal">
        <h2>Subtotal:</h2>
        {{ hostBill.subTotal | currency}}
      </div>

      <div class="tip">
        <h3>Tip:</h3>
        <input name="tip" type="number" ng-model="hostBill.tip" placeholder="0%" min="0" size="2" aria-label="tip">%

        <article class="tip">
          Your added tip:
          <span ng-show="billForm.tip.$pristine">
            {{ 0 + hostBill.tip | currency }}
          </span>
          <span ng-show="billForm.tip.$dirty" id="currency-default">
            {{ hostBill.tip * 0.01 * hostBill.subTotal | currency}}
          </span>
        </article>
      </div>

      <div class="tax">
        <h3>Tax:</h3>
        <input name="tax" type="number" ng-model="hostBill.tax" placeholder="0%" aria-label="tax" min="0" max="100" size="2">
        <article class="tax">
          Your added tax:
          <span ng-show="billForm.tax.$pristine">
            {{ 0 + hostBill.tax | currency }}
          </span>
          <span ng-show="billForm.tax.$dirty" id="currency-default">
            {{ hostBill.tax * 0.01 * hostBill.subTotal  | currency}}
          </span>
        </article>
      </div>


      <div class="grandTotal">
        <h2>Grand Total</h2>
        <span ng-show="billForm.tip.$pristine && billForm.tip.$pristine">
          {{ hostBill.subTotal | currency}}
        </span>
        <span ng-show="billForm.tip.$dirty && billForm.tax.$pristine">
          {{ hostBill.subTotal +
          (hostBill.tip * 0.01 * hostBill.subTotal) | currency }}
        </span>
        <span ng-show="billForm.tip.$dirty && billForm.tax.$dirty">
          {{ hostBill.subTotal +
          (hostBill.tip * 0.01 * hostBill.subTotal) +
          (hostBill.tax * 0.01 * hostBill.subTotal) | currency }}
        </span>
      </div>

      <br>

      <input ng-show="billForm.tip.$dirty && billForm.tax.$dirty" type="submit" value="Send Bills to Guests" ng-click="hostBill.sendBillsToGuests()">

      <br>

      <span ng-show="hostBill.billsSent">
        Your bills were sent to your guests successfully!
      </span>
    </form>
    <br>
  </div>
</div>
